.agentSelected {
    font-size: 12px;
    color: #202020;
    font-weight: bold;
    border-left: 3px solid #43a047;
    cursor: pointer;
}

.agentNoSelected {
    font-size: 12px;
    color: #202020;
    cursor: pointer;
}