
<div class="modal-header">
  <h4 class="modal-title"> {{title}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
  
  <form [formGroup]="feedersGroup" >
    
    <div class="example-container">

      <div class="row">

        <div class="col form-group">
          <label for="csvFileCtrl">Csv File</label>
          <input id="csvFileCtrl" type="text" class="form-control" formControlName="csvFileCtrl" placeholder="Nom du fichier de données jdd.csv" >
          <small id="passwordHelpBlock" class="form-text text-muted">
            Nom du fichier de données jdd.csv
          </small>
        </div>


        <div class="col form-group">
          <label for="typeCtrl">Source </label>
          <select placeholder = "Type" formControlName="typeCtrl" class="form-control form-control-sm" >
              <option value="xml" > XML </option>
              <option value="json" > JSON </option>
          </select>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Type template response JSON/XML
          </small>
        </div>

        <div class="col form-group">
          <label for="isRandomCtrl">isRandom</label>
          <input id="isRandomCtrl" type="number" class="form-control" formControlName="isRandomCtrl" placeholder="Numéro de ligne dans le fichier JDD à lire. 0 Par defaut" >
          <small id="passwordHelpBlock" class="form-text text-muted">
            Numéro de ligne dans le fichier JDD à lire. 0 pour random ou passage en paramètre
          </small>
        </div>

      </div>

      <div class="row">
        <div class="col-12 form-group">
          <label for="valueCtrl">Valeur</label>
          <input id="valueCtrl" type="hidden" class="form-control" formControlName="valueCtrl" placeholder="Un tableau d'objet">
          
          <div ace-editor
            [(text)]="textFeederValue"
            [mode]="modeSelected"
            [theme]="themeSelected"
            [readOnly]="false"
            [autoUpdateContent]="true"
            [durationBeforeCallback]="1000" 
            (textChanged)="onChangeValueFeeder($event)"
            style="height: 100%; width:100%; overflow-x: auto; min-height: 100px;">
          </div>
          
          <small id="passwordHelpBlock" class="form-text text-muted">
            {{ tabObjectFeeder }}
          </small>
        </div>

      </div>
      <br />

    </div>
  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
  <button type="" class="btn btn-primary" (click)="accept()">{{ btnOkText }} </button>
</div>