
.text-normal {
    font-size: 12px !important;
}

.width-full {

}

.titleChamp img {
    vertical-align:baseline;
  }
  

  .text-right {
      text-align: right !important;
  }
  .text-right button{
    padding: 0px !important;
    margin: none !important;
    float: right !important;
}
.card {
    width: 100% !important
}
.card-body {
    margin: 0px !important;
}
.borderColor {
    border: 1px solid blue !important;
}

.sDetail {
    color: #8d8d8d;
    font-size: 10px;
}
