.header-top {
    background: linear-gradient(60deg,#ef5350,#e53935);
    color: #FFF !important;
    font-size: 14px !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(244,67,54,.4);
    padding: 5px !important;
    margin: 5px 0px 5px 5px !important;
    text-align: center;
}

.example-viewport {
    height: 400px;
    width: 100%;
  }