<div class="row ">

    <div class="col">
        
        <div class="card">

            <div class="card-header card-header-red">
                <div class="row header-card-red">
                  <div class="col-12">Propriété / Règles </div>
                </div>
            </div>

            

            <div class="card-body"  text-wrap >

              <div class="row">
                <div class="col-4 text-bold text-normal">Response Type</div>
                <div class="col-6 text-normal"> {{responseSelected.responseType}} </div>
                <div class="col-2"> <button class="btn btn-clear" small (click)="editProperties()" > <i class="fa fa-pencil" aria-hidden="true"></i> </button> </div>
              </div>
              <div class="row">
                <div class="col-4 text-bold text-normal">Delay</div>
                <div class="col-6 text-normal"> {{responseSelected.delay}} ms</div>
                <div class="col-2">&nbsp;</div>
              </div>
              <div class="row" *ngIf="responseSelected.fileResponse != '' " >
                <div class="col-4 text-bold text-normal">Fichier retourné</div>
                <div class="col-6 text-normal"> {{responseSelected.fileResponse}} </div>
                <div class="col-2">&nbsp;</div>
              </div>

              <hr class="hrSep" />

              <div *ngIf="reglesSelected"> <!-- regexp -->

                <div class="row header-card-red">
                    <div class="col-10">Règles </div>
                    <div class="col-2 text-right"> <span class="btnInHeader" (click)="addRegles()" > <i class="fa fa-plus" aria-hidden="true"></i> </span></div>
                  </div>

                <div class="row" *ngFor="let rgl of reglesSelected; index as i;">

                    <div class="col-2">
                        <span class="text-bold text-normal"> RegExp n° {{ i }} </span>
                    </div>
  
                    <div class="col-3"  >
                        <span class="sDetail">(règle)</span> <br /> <span class="text-normal"> {{ rgl.regle }} </span>
                    </div>
  
                    <div class="col-5">
                        <span class="sDetail">(target)</span> <br /> <span class="text-normal"> {{ rgl.target }} </span>
                    </div>
  
  
                    <div class="col-1 text-right">
                        <button class="btn btn-clear" small (click)="editRegles(rgl)" >
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-1 text-right">
                      <button class="btn btn-clear" small (click)="deleteRegles(rgl)" >
                          <i class="fa fa-times text_red" aria-hidden="true"></i>
                      </button>
                    </div>
  
                  </div>

              </div> <!-- reg exp -->

                
            </div>


        </div>

    </div>

</div>