

<div class="container-fluid" *ngIf="!editModeSet || !editModeSet.status" >
  
  <div class="row margin-top-10">

    <!-- Liste services  -->
    <div class="col-xl-6">
      
        <div class="row">

          <div class="col">
        
            <div class="card">
        
              <div class="card-header card-header-red">
                <div class="row header-card-red">
                  <div class="col-2">Services</div>
                  <div class="col-8">
                      <div class="md-form mt-0">
                        <input class="form-control" type="text" aria-label="Search" name="searchString" placeholder="Type to filter..." [(ngModel)]="searchString" >
                      </div>
                  </div>
                  <div class="col-2">
                    <span class="nbrPerPage">{{data.currentPage}}/{{data.pages}}</span>
                    <span class="btnInHeader" *ngIf="data.currentPage != 1" (click)="previousPage()" > <i class="fa fa-chevron-left" aria-hidden="true"></i> </span>
                    <span class="btnInHeader" *ngIf="data.pages != data.currentPage" (click)="nextPage()" > <i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
                  </div>
                </div>
              </div>
        
              <div class="card-body">
        
                <div class="row" *ngFor="let srv of data.services | filter : 'basepath' : searchString; index as i;">
        
                  <div class="col-9" tappable (click)="onSelectService(srv, i)" [ngClass]="{'serviceActifSelected': srv.status == 1 && data.selected.basepath == srv.basepath, 
                  'serviceActif': srv.status == 1 && data.selected.basepath != srv.basepath, 
                  'serviceInActifSelected': srv.status == 0 && data.selected.basepath == srv.basepath, 
                  'serviceInActif': srv.status == 0 && data.selected.basepath != srv.basepath}" >
                    {{srv.basepath}}
                  </div>
        
                  <div class="col-1">
                      <button class="btn btn-clear" (click)="editService(srv, i)" >
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                  </div>
                  <div class="col-1">
                      <button class="btn btn-clear" (click)="stopStartService(srv)" >
                          <i class="fa fa-stop" aria-hidden="true" *ngIf="srv.status == 1" ></i>
                            <i class="fa fa-play" aria-hidden="true" *ngIf="srv.status == 0" ></i> 
                      </button>
                  </div>
                  <div class="col-1">
                    <button class="btn btn-clear" (click)="deleteService(srv, i)" >
                        <i class="fa fa-times text_red" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                
              </div>
        
            </div>
        
          </div>
        
        </div>

    </div>
    <!-- Liste services  -->

    <!-- Apis -->
    <div class="col-xl-3">
        <app-agent-apis [serviceSelect]="data.selected" (apiSelecte)="onApiSelected($event)" (editMode)="onEditeMode($event)" ></app-agent-apis>
    </div>
    <!-- Apis  -->

    <!-- Operations -->
    <div class="col-xl-3">
        <app-agent-operations *ngIf="operationSelected" [serviceSelect]="data.selected" [apiSelect]="apiSelected" (opSelecte)="onOperationSelected($event)"></app-agent-operations>
    </div>
    <!-- Operations  -->


  </div>


  <!-- New line -->
  <div class="row margin-top-20">

    <!-- Transfert(s) - Key -->
    <div class="col-xl-6">
        <app-agent-transferts *ngIf="transferPropSelected" [operationSelect]="transferPropSelected" [serviceSelect]="data.selected" [apiSelect]="apiSelected" [opSelect]="oneOpSelected" ></app-agent-transferts>
    </div>
    <!-- Transfert(s) - Key  -->

    <!-- Feeder properties -->
    <div class="col-xl-6">
      <app-agent-feeders *ngIf="feederPropSelected" [operationSelect]="feederPropSelected" [serviceSelect]="data.selected" [apiSelect]="apiSelected" [opSelect]="oneOpSelected" ></app-agent-feeders>
   </div>
    <!--Feeder properties  -->

  </div>
  <!-- New line -->


  <!-- New line -->
  <div class="row margin-top-20">

    <!-- Paramèter(s)  -->
    <div class="col-xl-4">
        <app-agent-parameters *ngIf="parametersSelected" [operationSelect]="parametersSelected" [serviceSelect]="data.selected" [apiSelect]="apiSelected" [opSelect]="oneOpSelected" ></app-agent-parameters>
    </div>
    <!-- Paramèter(s) -->


    <!-- Propriétés / Règles -->
    <div class="col-xl-4">
        <app-agent-properties *ngIf="regExpKeysOSelected" [operationSelect]="regExpKeysOSelected" [responseSelect]="responseSelected" [serviceSelect]="data.selected" [apiSelect]="apiSelected" [opSelect]="oneOpSelected" ></app-agent-properties>
    </div>
    <!-- Propriétés / Règles -->


     <!-- Dataset -->
     <div class="col-xl-4">
        <app-agent-datasets *ngIf="dataSetsSelected && oneOpSelected" [dataSetsSelect]="dataSetsSelected" (dtsSelecte)="onSelectDataset($event)" [serviceSelect]="data.selected" [apiSelect]="apiSelected" [opSelect]="oneOpSelected" ></app-agent-datasets>
    </div>
    <!-- Dataset -->


  </div>
  <!-- New line -->



  <!-- New line -->
  <div class="row margin-top-20">

    <!-- Détail -->
    <div class="col-xl-4">
        <app-agent-details [dataSetKeySelect]="dataSet.selected.dataset" [dataSetsSelect]="dataSet.selected.parameters" [serviceSelect]="data.selected" [apiSelect]="apiSelected"  ></app-agent-details>
    </div>
    <!-- Détail -->


    <!-- Template -->
    <div class="col-xl-8">
        <app-agent-template [templateSelect]="templateSelected" [dataSetsSelect]="dataSet.selected.parameters" [serviceSelect]="data.selected" [apiSelect]="apiSelected" [datasetKeySelect]="dataSet.selected.dataset" ></app-agent-template>
    </div>
    <!-- Template -->

  </div>
  <!-- New line -->

</div>

<!-- 
   
-->

<app-agent-edit 
 *ngIf="editModeSet && editModeSet.status == true" 
 [templateSelect]="templateSelected" 
 [dataSetKeySelect]="dataSet.selected.dataset" [detailParameter]="dataSet.selected.parameters" 
 [dataSetsSelect]="dataSetsSelected" 
 [propetiesSelect]="regExpKeysOSelected" [responseSelect]="responseSelected" 
 [parametersSelect]="parametersSelected" 
 [feederPropSelect]="feederPropSelected" 
 [transferPropSelect]="transferPropSelected" 
 [operationSelect]="operationSelected" 
 [serviceSelect]="data.selected" 
 (editMode)="onEditeMode($event)" 
 [editModeSet]="editModeSet" 
 [agentSelect]="agentSelected" 
 (cancelMode)="onCancelMode($event)"

>
</app-agent-edit>

